# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
ADMIN_REGISTRATION_TOKEN="SECRET_ADMIN_REGISTRATION_TOKEN"
MSG91_URL=https://control.msg91.com/api/v5/flow
MSG91_AUTHKEY=AUTH_KEY
MSG91_ENTRY_TEMPLATE_ID=TEMPLATE_ID
NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key